
@use 'src/styles/common';


.mainFrame {
    * { @extend .reset }
    @extend .row;
    gap: 24px 64px;
    width: fit-content;

    @media (max-width: 1200px) {
        @include common.col;
    }
}

.infoFrame {
    @extend .col;
    width: 555px;

    @media (max-width: 1200px) {
        width: unset;
        max-width: 709px;
    }
    @media (max-width: 600px) {
        width: 100%;
    }

    .titleContainer {
        @extend .rowWrap;
        gap: 8px 23px;
        @media (max-width: 600px) {
            @include common.col;
            align-items: start;
        }

        .logo {
            height: 78px;
            width: auto;
        }
        .title {
            font: 900 48px var(--font-family-text);
            color: black;
        }
    }
    .infoItemsContainer {
        @extend .col;
        margin-top: 16px;
        gap: 8px;

        .infoItem {
            font: 500 18px var(--font-family-text);
            color: #8B8B8B;
            letter-spacing: 0.05em;
            line-height: 150%;
        }
    }
    .buttonWrapper {
        margin-top: 18px;
        @media (max-width: 550px) {
            margin-top: 8px;
        }
    }
}
.descriptionFrame {
    flex: 1;
    align-self: end;
    max-width: 709px;
    font: 500 18px var(--font-family-text);
    color: black;
    letter-spacing: 0.05em;
    line-height: 150%;
}

