
@use 'src/styles/common';


.mapFilters {
    * { @extend .reset }
    @extend .rowWrap;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    gap: 16px;

    .widgetBox {
        @extend .col;

        .title {
            display: grid;
            place-items: center start;
            height: 27px;
            font: 500 18px var(--font-family-text);
            color: #424041;
            letter-spacing: 0.05em;
        }
    }
}