
@use 'src/styles/common';



.frame {
    * { @extend .reset }
    width: 400px; height: 319px;
    background: #F8F8F8;
    border: 1px solid #424041;
    display: grid;
    padding-bottom: 8px;
    grid: 'image image' 240px
          'name  name '
          'year  count';



    .imagesFrame {
        grid-area: image;
        width: 100%; height: fit-content;
        display: flex;
        overflow: auto;
        @extend .hideScrollbar;

        .contentContainer {
            width: fit-content; height: fit-content;
            display: flex;

            .imageContainer {
                width: 398px; height: 240px;
                position: relative;

                .imageBgc {
                    @extend .abs;
                    width: 100%; height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .blur {
                    @extend .abs;
                    backdrop-filter: blur(20px);
                    background: rgba(0,0,0,0.5);
                }
                .image {
                    @extend .abs; top: unset;
                    width: 100%; height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }
    .controlElementsContainer {
        grid-area: image;
        display: grid;
        /*grid: 'left   .      right ' 1fr
              'scroll scroll scroll'
              / 20% 1fr 20% ;*/
        grid: 'tl t tr'
              'l  c r ' 1fr
              'bl b br'
            / auto 1fr auto;
        z-index: 1;

        .scroll {
            grid-area: b / bl / b / br;
            place-self: end stretch;
            padding-right: 40px;
            padding-left: 40px;

            /*[id$=thumb-box]{
                padding: 2px 3px;
            }
            [id$=thumb]{
                background: rgba(0,0,0,0.5);
            }*/
        }

        .menuBtn {
            grid-area: tr;
            place-self: start end;
            height: 22px;
            width: 38px;
            cursor: pointer;
            @extend .center;

            .menuBtnIcon {
                width: 22px;
            }
        }


        /*.arrowLeftBox {
            grid-area: left / left / scroll / left;
            place-self: stretch;
            background: #DEDEDE77;
            z-index: 1;
            @extend .center;
            pointer-events: none;
         }
        .arrowBoxRight {
            @extend .arrowLeftBox;
            grid-area: right / right / scroll / right;
        }*/
    }



    .logo {
        grid-area: image;
        place-self: start;
        width: auto; height: 32px;
        z-index: 2;
    }
    .name {
        grid-area: name;
        place-self: start;
        margin-top: 8px; margin-left: 16px;
        height: 31px;
        font: 500 24px var(--font-family-text);
        letter-spacing: 0.05em;
        color: black;
    }
    .year {
        grid-area: year;
        place-self: start;
        margin-top: 8px; margin-left: 16px;
        height: 24px;
        font: 400 16px var(--font-family-text);
        letter-spacing: 0.055em;
        color: #8B8B8B;
    }
    .count {
        grid-area: count;
        place-self: start end;
        margin-top: 8px; margin-right: 16px;
        height: 24px;
        font: 400 16px var(--font-family-text);
        letter-spacing: 0.055em;
        color: #8B8B8B;
    }
}


