.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 2.406em;
    margin-left: 64px;
    margin-right: 64px;

    .flex-item:first-child {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-item:last-child {
        align-items: center;
    }

    .flex-item:nth-child(2) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (max-width: 768px) {
        .flex-item:first-child {
            justify-content: center;
            align-items: center;
        }

        .flex-item {
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }
}

.flex-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.text-h3 {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 46px;
    text-align: center;

    color: #000000;
}