
@use 'src/styles/common';

.mainFrame {
    * { @extend .reset }
    @extend .rowWrap;
    gap: 16px;
}

.tile {
    width: fit-content; height: 40px;
    padding-left: 16px; padding-right: 16px;
    background: #FCFCFC;
    cursor: pointer;
    @extend .center;
    font: 400 16px var(--font-family-text);
    color: black;
    letter-spacing: 0.055em;

    &[data-highlighted=true]{
        background: #B4EFA6;
    }
}